@import "./_variables.scss";
@import "./_mixins.scss";


 .CircularProgressbar {
  width: 100%;
  vertical-align: middle;
  border-radius: 50%;
  -webkit-box-shadow: -3px -3px 10px 3px #48535a;
  -moz-box-shadow: -3px -3px 10px 3px #48535a;
  box-shadow: -3px -3px 10px 3px #48535a;
}

.ImgLogo {
  width: 60px;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: $orange;
  stroke-linecap: round;
  // transition: stroke-dashoffset 0s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: black;
  stroke-linecap: round;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: $orange;
  font-size: 1em;
  // dominant-baseline: middle;
  text-anchor: middle;
}

/* /////////////////// */
/* ////////// */
/* ////////////////////////////////--Responsive @MEDIA--//////////////////////////////// */

@media all and (max-width: 1200px) {
  
}

@media all and (max-width: 992px) {

}

@media all and (max-width: 768px) {
  .ImgLogo {
    width: 50px;
  }
}

@media all and (max-width: 572px) {

  .ImgLogo {
    width: 30px;
  }
}

@media all and (max-height: 900px) and (min-width: 572px) {
  .ImgLogo {
    width: 45px;
  }
}